/**
 * 重置一些元素的默认样式
 */
body,
div {
    margin: 0;
    padding: 0;
}

body {
    background: #eee;
}

/**
 * 页面内容居中
 */
.content{
	margin: 0 auto;
	text-align: center;
}

/**
 * 游戏区设置大小颜色等
 */
.game-zone {
    width: 640px;
    height: 640px;
    background: #ccc;
    position: relative;
    margin: 0 auto;
}

/**
 * 游戏模型隐藏
 */
.game-model {
    display: none;
}

/**
 * 游戏模型大小等设置
 */
.bean,
.snake-body {
    width: 10px;
    height: 10px;
    background: black;
    display: inline-block;
    position: absolute;
}

.bean {
    border-radius: 10px;
}